<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="./#home/">
        <img src="{{PATH_IMG_BASE}}logo-rodape180x180.png" class="nav-logo" alt="Logo" />
      </a>
    </div>
    <nav>

      <span class="open-nav-mobile" onclick="openNavMobile()">&#9776;</span>
      <ul class="nav-list large-response-menu">
        <div class="divide-navbar">
          <li>
            <a id="menu-inicio" class="item-nav" href="{{rotaHome}}">Início</a>
          </li>
          <li>
            <a href="{{ rotaQuemSomos }}" class="item-nav">Quem Somos </a>
          </li>
          <li>
            <a class="item-nav" id="id-nav-produto" href="/developer/categoria/12/">Produtos {{rotaCategoria}}</a>
            <ul class="nav-dropdown">
              <li>
                <a class="item-nav" href="/developer/produtos/1" id="menu-produto">A</a>
              </li>
            </ul>
          </li>

          <li>
            <a id="menu-cardapio" class="item-nav" href="{{rotaCardapio}}">Cardápio</a>
          </li>
        </div>
        <div class="divide-navbar">
          <li>
            <a id="menu-restaurante" href="{{rotaRestaurante}}" class="item-nav">Nosso Restaurante</a>
          </li>
          <li>
            <a id="menu-contato" class="item-nav" href="{{rotaContato}}">Contato</a>
          </li>
        </div>
      </ul>
    </nav>
    <div class="nav-side-icones">
      <div class="icon-nav-carrinho">
        <a id="menu-carrinho" class="item-nav contador-carrinho" data-after="0"><i class="fas fa-shopping-cart"></i></a>
        <div class="descricao-itens-carrinho" id="contador-carrinho" data-after="0">Seu carrinho tem</div>
      </div>

      <div class="navbar-redes-sociais">
        {% for redes in RedesSociais %}
        <div class="icon-footer-redes"><a class="fab {{redes.icone}} fa-2x" href="{{ redes.href }}" target='_blank'></a></div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="nav-mobile" class="nav-mobile">
    <a href="javascript:void(0)" class="close-nav-mobile" onclick="closeNavMobile()">Fechar</a>
    <a onclick="redirecionarMobile('carrinho/index.php')">Carrinho <i class="fas fa-shopping-cart"></i> </a>
    <a onclick="redirecionarMobile('home/index.php')">Início</a>
    <a onclick="redirecionarMobile('galeria/index.php')">Quem Somos</a>
    <button class="dropdown-btn">
      Produtos
      <i class="fas fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="produtos/1">AAAAAAAAAAAAAAAAAA</a>
    </div>
    <a onclick="redirecionarMobile('cardapio/index.php')">Cardápio</a>
    <a onclick="redirecionarMobile('restaurante/index.php')">Nosso Restaurante</a>
    <a onclick="redirecionarMobile('contato/index.php')">Contato</a>
  </div>
</section>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("drop-show");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }


</script>
