<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{PATH_IMG_BASE}}favicon.ico" sizes="any">

  {% block header %}
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}normalize.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}fontawesome-all.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}swiper-bundle.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}root.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}aos.min.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}jquery-confirm.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}site.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}font.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}home.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}navbar.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}marmitex.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}cardapio.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}galeria.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}carrinho.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}restaurante.css" />
  <link rel="stylesheet" href="{{PATH_CSS_SITE}}modal.css" />
  {% endblock header %}

  <title>{% block title %}Página Inicial{% endblock %}</title>
</head>

<body id="body">
  {% include('@base/header.html.twig') %}

  <div class="conteudo">
    <div id="loading" name="loading" class="loader"></div>
    <div id="conteudo">{% block content %} {% endblock %}</div>
  </div>

  {% include('@base/footer.html.twig') %}
</body>
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.0.4/swiper-bundle.min.js" integrity="sha512-0N/5ZOjfsh3niel+5dRD40HQkFOWaxoVzqMVAHnmAO2DC3nY/TFB7OYTaPRAFJ571IRS/XRsXGb2XyiFLFeu1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script language="JavaScript" src="{{PATH_JS_SITE}}fontawesome.min.js"></script>
<script language="JavaScript" src="{{PATH_JS_SITE}}funcoes.js"></script>
{% endblock %}


</html>
