{% for Produto in Produtos %}
<div class="div-card-produto">
  <div class="card-produto <?= $promo ?>">
    <div class="card-imagem" data-title="Clique aqui para visualizar o produto" onclick="modalVerProduto.abrir('<?= $dataProduto ?>', pageHash)">
      <img class="imagem-produto" src="/developer/src/images/categorias/{{id_categoria}}/{{Produto.id_tipo_produto}}/{{Produto.id}}/{{Produto.img_produto}}" alt="" />
      <figcaption class="legenda-figure-produto"><i class="fas fa-expand"></i>&nbsp;Expandir</figcaption>
    </div>
    <div class="card-produto-body">
      <div class="nome-produto">
        {{ Produto.titulo }}
      </div>
      <div class="descricao-produto">
        <?= $descricao ?>
      </div>
      <div class="valor-produto">
        R$
        <?= $preco ?>
      </div>
      <div class="comprar-produto">
        <button class="button-comprar" value="Comprar" onclick="modalAdicionar.abrir('<?= $dataProduto ?>', pageHash)">Comprar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
